@model DA_webRestaurant.Models.Table

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-area="Admin" asp-controller="Table" asp-action="Edit">
	<input type="hidden" asp-for="TableId" />
	<div class="form-group">
		<label asp-for="TableType" class="control-label"></label>
		<input asp-for="TableType" class="form-control" />
		<span asp-validation-for="TableType" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="NumberOfSeats" class="control-label"></label>
		<input asp-for="NumberOfSeats" class="form-control" />
		<span asp-validation-for="NumberOfSeats" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
