@model DA_webRestaurant.Models.Table

<form asp-controller="Table" asp-action="Edit" method="post">
    <input type="hidden" asp-for="TableId" />
    <div class="form-group">
        <label for="TableType">Table Type:</label>
        <input type="text" id="TableType" name="TableType" class="form-control" value="@Model.TableType" />
    </div>
    <div class="form-group">
        <label for="NumberOfSeats">Number of Seats:</label>
        <input type="number" id="NumberOfSeats" name="NumberOfSeats" class="form-control" value="@Model.NumberOfSeats" />
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
