@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="/css/Dangky.css" />

<div class="form-container">
    <form id="signup-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <hr />
        <div class="mb-3">
            <label class="form-label" asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control rounded-pill" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Input.FullName">Full Name</label>
            <input asp-for="Input.FullName" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="Full Name" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Input.Phone">Phone Number</label>
            <input asp-for="Input.Phone" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="Phone Number" />
            <span asp-validation-for="Input.Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mb-3 col-md-6 mx-auto">
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </div>
    </form>
</div>


</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
